# Markov Chains Project

In [ ]:
!pwd

In [ ]:
ll

## Loading libraries, packages and reading data

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import timedelta
import os
pd.options.mode.chained_assignment = None
import seaborn as sns

In [4]:
df_mon = pd.read_csv('../data/monday.csv', sep=';', parse_dates=True);

In [5]:
df_mon.head()

             timestamp  customer_no location
0  2019-09-02 07:03:00            1    dairy
1  2019-09-02 07:03:00            2    dairy
2  2019-09-02 07:04:00            3    dairy
3  2019-09-02 07:04:00            4    dairy
4  2019-09-02 07:04:00            5   spices

In [6]:
df_mon.set_index('timestamp', inplace=True)
df_mon

                     customer_no  location
timestamp
2019-09-02 07:03:00            1     dairy
2019-09-02 07:03:00            2     dairy
2019-09-02 07:04:00            3     dairy
2019-09-02 07:04:00            4     dairy
2019-09-02 07:04:00            5    spices
...                          ...       ...
2019-09-02 21:49:00         1442  checkout
2019-09-02 21:49:00         1444  checkout
2019-09-02 21:49:00         1445     dairy
2019-09-02 21:50:00         1446     dairy
2019-09-02 21:50:00         1447     fruit

[4884 rows x 2 columns]

In [13]:
df_mon.index.unique

<bound method Index.unique of Index(['2019-09-02 07:03:00', '2019-09-02 07:03:00', '2019-09-02 07:04:00',
       '2019-09-02 07:04:00', '2019-09-02 07:04:00', '2019-09-02 07:04:00',
       '2019-09-02 07:04:00', '2019-09-02 07:04:00', '2019-09-02 07:05:00',
       '2019-09-02 07:05:00',
       ...
       '2019-09-02 21:48:00', '2019-09-02 21:49:00', '2019-09-02 21:49:00',
       '2019-09-02 21:49:00', '2019-09-02 21:49:00', '2019-09-02 21:49:00',
       '2019-09-02 21:49:00', '2019-09-02 21:49:00', '2019-09-02 21:50:00',
       '2019-09-02 21:50:00'],
      dtype='object', name='timestamp', length=4884)>

In [8]:
# sns.heatmap(df_mon.isnull(), cbar=False)
# Creates a heatmap for checking missing vaules

In [ ]:
df_mon.drop(columns = df_mon.columns[0], axis=0, inplace= True)
df_mon.head()

In [ ]:
df_tue = pd.read_csv('../data/tuesday.csv', sep=';')

In [ ]:
df_tue

In [ ]:
df_wed = pd.read_csv('../data/wednesday.csv', sep=';')

In [ ]:
df_wed

In [ ]:
df_thur = pd.read_csv('../data/thursday.csv', sep=';')

In [ ]:
df_thur

In [ ]:
df_fri = pd.read_csv('../data/friday.csv', sep=';')

In [ ]:
df_fri